<div id="header">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>About Mobile Monefield</h1>
			</div>
		</div>
	</div>
</div>

<div id="content">
	<div class="container">
		<div class="row">
			<div class="span6">
				<h2>The Game</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu massa, consequat nec venenatis vel, vehicula in felis. Donec dapibus tortor consequat turpis fringilla rutrum. Nulla porta turpis massa. Vivamus facilisis pretium mauris, ac varius augue posuere eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
			</div>
			<div class="span6">
				<h2>One-Up All Your Friends</h2>
				<p>
					Cras vehicula orci mauris, sed porta tellus. Phasellus id odio eget elit convallis placerat sit amet sodales quam. Mauris sit amet diam vel ligula bibendum porta eu a magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h2 class="txt-middle">Our Team</h2>
				<hr class="dashed">
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<ul class="thumbnails">
					<li class="span4">
						<div id="team" class="thumbnail">
							<img alt="" src="http://quickimage.it/300x180">
							<div class="caption">
								<h4>Chris Markell</h4>
								<p>
									<em>Co-Founder</em><br><br>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu massa, consequat nec venenatis vel, vehicula in felis. Donec dapibus tortor consequat turpis fringilla rutrum. Nulla porta turpis massa. Vivamus facilisis pretium mauris, ac varius augue posuere eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

								</p>
								<div class="social">
									<ul class="unstyled">
										<li>
											<a class="facebook" href=""><i class="icon-facebook-sign"></i></a>
										</li>
										<li>
											<a class="twitter" href=""><i class="icon-twitter-sign"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="span4">
						<div id="team" class="thumbnail">
							<img alt="" src="http://quickimage.it/300x360">
							<div class="caption">
								<h4>Jason Knight</h4>
								<p>
									<em>Co-Founder</em><br><br>
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu massa, consequat nec venenatis vel, vehicula in felis. Donec dapibus tortor consequat turpis fringilla rutrum. Nulla porta turpis massa. Vivamus facilisis pretium mauris, ac varius augue posuere eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                                                                </p>
								<div class="social">
									<ul class="unstyled">
										<li>
											<a class="facebook" href=""><i class="icon-facebook-sign"></i></a>
										</li>
										<li>
											<a class="twitter" href=""><i class="icon-twitter-sign"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="span4">
                                                <div id="team" class="thumbnail">
                                                        <img alt="" src="/images/founders/brian.png">
                                                        <div class="caption">
                                                                <h4>Brian Zitzow</h4>
                                                                <p>
                                                                        <em>Co-Founder</em><br><br>
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu massa, consequat nec venenatis vel, vehicula in felis. Donec dapibus tortor consequat turpis fringilla rutrum. Nulla porta turpis massa. Vivamus facilisis pretium mauris, ac varius augue posuere eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                                                                </p>
                                                                <div class="social">
                                                                        <ul class="unstyled">
                                                                                <li>
                                                                                        <a class="facebook" href=""><i class="icon-facebook-sign"></i></a>
                                                                                </li>
                                                                                <li>
                                                                                        <a class="twitter" href=""><i class="icon-twitter-sign"></i></a>
                                                                                </li>
                                                                        </ul>
                                                                </div>
                                                        </div>
                                                </div>
                                        </li>
				</ul>
			</div>
		</div>
	</div>
</div>
