<!--<div id="landing">
	<div class="container">
		<div class="row">
			<div class="span8 offset2 txt-middle">
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="active item"><img alt="" src="http://quickimage.it/800x300">
						</div>
						<div class="item"><img alt="" src="http://quickimage.it/800x300">
						</div>
						<div class="item"><img alt="" src="http://quickimage.it/800x300">
						</div>
					</div>
					<a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
				</div>
				<h1>All your app's push notification in one place</h1>
				<p>
					QikPush is an easy to use service for you to manage your app's Push Notifications for iOS, Android and Windows Phone 8.
				</p>
			</div>
		</div>
	</div>
</div>-->

<div id="landing">
	<div class="container">
		<div class="row">
			<div class="span5">
				<h1>Push Notificaions for your mobile Apps</h1>
				<p>
					QikPush is an easy to use service for you to manage your app's Push Notifications for iOS, Android and Windows Phone 8.
				</p>
				<p>
					<a href="#" class="btn btn-primary btn-action">Get Started Now</a>
				</p>
			</div>
			<div class="span7">

			</div>
		</div>
	</div>
</div>

<div id="headline">
	<div class="container">
		<div class="row">
			<div class="span12 txt-middle">
				<p>
					Some awesome headline text or call to action buttons can go here. <a data-toggle="modal" href="#joinModal" class="btn btn-primary">Join Modal</a> <a data-toggle="modal" href="#loginModal" class="btn btn-primary">Login Modal</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div id="content" class="txt-middle">
	<div class="container">
		<!--<div class="row">
			<div class="span12">
				<h2>Just some of the great features provided by QikPush include</h2>
				<hr class="dashed">
			</div>
		</div>-->
		<div class="row">
			<div class="span4 bouncy">
				<div class="icon_wrapper">
					<i class="icon-th-large"></i>
				</div>
				<h2>Cross Platform</h2>
				<p>
					QikPush supports the iOS, Android and Windows Phone 8  mobile operating systems
				</p>
			</div>
			<div class="span4 bouncy">
				<div class="icon_wrapper">
					<i class="icon-flag"></i>
				</div>
				<h2>Analytics</h2>
				<p>
					Analytics provides metrics for you to fine tune your app's push notifications strategy
				</p>
			</div>
			<div class="span4 bouncy">
				<div class="icon_wrapper">
					<i class="icon-plane"></i>
				</div>
				<h2>Web Console</h2>
				<p>
					Manage everything from one place with our fully featured web based management console 
				</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span4 bouncy">
				<div class="icon_wrapper">
					<i class="icon-magic"></i>
				</div>
				<h2>Scheduling</h2>
				<p>
					Set one-time or recurring schedules to send your notification automatically at certain times on certain days
				</p>
			</div>
			<div class="span4 bouncy">
				<div class="icon_wrapper">
					<i class="icon-bolt"></i>
				</div>
				<h2>Targeting</h2>
				<p>
					(?) Create profiles for your notifications that apply a chain of rules to each device before being sent
				</p>
			</div>
			<div class="span4 bouncy">
				<div class="icon_wrapper">
					<i class="icon-fire"></i>
				</div>
				<h2>Header</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut felis arcu, sed iaculis eros
				</p>
			</div>
		</div>
	</div>
</div>