<div id="header">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Contact Us</h1>
			</div>
		</div>
	</div>
</div>

<div id="content">
	<div class="container">
		<div class="row">
			<div class="span5">
				<h2><i class="icon-envelope"></i> Email Us</h2>
				<fieldset>
					<div class="control-group">
						<div class="controls">
							<input class="span5" type="text" placeholder="Your Full Name">
						</div>
						<div class="controls">
							<input class="span5" type="text" placeholder="Your Email">
						</div>
						<div class="controls">
							<input class="span5" type="text" placeholder="Message Subject">
						</div>
						<div class="controls">
							<textarea class="span5" id="textarea" rows="6" placeholder="Your Message"></textarea>
						</div>
						<button class="btn btn-primary">
							Send Message
						</button>
					</div>
				</fieldset>
			</div>
			<div class="span7">
				<div class="row">
					<div class="span3">
						<h2><i class="icon-map-marker"></i> Address</h2>
						<address>
							111 Some Street, Suite 100
							<br>
							San Francisco, CA 94107
						</address>
					</div>
					<div class="span4">
						<h2><i class="icon-phone"></i> Phone</h2>
						<address>
							Phone: (123) 456-7890
							<br>
							Fax: (123) 456-7890
						</address>
					</div>
				</div>
				<div class="thumbnail">
					<img border="0" alt="" src="http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=14&size=840x230&maptype=roadmap&sensor=false">
				</div>
			</div>
		</div>
	</div>
</div>