<div id="header">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Our Awesome Features</h1>
			</div>
		</div>
	</div>
</div>

<div id="content">
	<div class="container">
		<div class="row">
			<div class="span6">
				<a class="thumbnail" href=""> <img alt="image" src="http://placehold.it/300x150"> </a>
				<h2 class="sub">High Level Overview Dashboards</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu massa, consequat nec venenatis vel, vehicula in felis. Donec dapibus tortor consequat turpis fringilla rutrum.
				</p>
			</div>
			<div class="span6">
				<a class="thumbnail" href=""> <img alt="image" src="http://placehold.it/300x150"> </a>
				<h2 class="sub">Individual App Analytics</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu massa, consequat nec venenatis vel, vehicula in felis. Donec dapibus tortor consequat turpis fringilla rutrum.
				</p>
			</div>
		</div>
		<hr class="dashed">
		<div class="row">
			<div class="span6">
				<a class="thumbnail" href=""> <img alt="image" src="http://placehold.it/300x150"> </a>
				<h2 class="sub">Automatic App History Aggegration</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu massa, consequat nec venenatis vel, vehicula in felis. Donec dapibus tortor consequat turpis fringilla rutrum.
				</p>
			</div>
      <div class="span6">
  			<a class="thumbnail" href=""> <img alt="image" src="http://placehold.it/300x150"> </a>
				<h2 class="sub">Daily, Monthly or Yearly graphical reports</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent arcu massa, consequat nec venenatis vel, vehicula in felis. Donec dapibus tortor consequat turpis fringilla rutrum.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="callout well">
					<h1>Give it it a try now!</h1>
					<p>Check out the free tier we provide and see if ***our service** is right for you.</p>
					<a href="#" class="btn btn-primary btn-action">Get Started Now <i class="icon-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
