<div id="landing">
	<div class="container">
		<div class="row">
			<div class="span5">
				<h1>Push Notificaions for your mobile Apps</h1>
				<p>
					QikPush is an easy to use service for you to manage your app's Push Notifications for iOS, Android and Windows Phone 8.
				</p>
				<p>
					<a href="#" class="btn btn-primary btn-action">Get Started Now</a>
				</p>
			</div>
			<div class="span7">

			</div>
		</div>
	</div>
</div>

<div id="content" class="txt-middle">
	<div class="container">
		<!--<div class="row">
			<div class="span12">
				<h2>Just some of the great features provided by QikPush include</h2>
				<hr class="dashed">
			</div>
		</div>-->
		<div class="row">
			<div class="span4 bouncy">
				<div class="icon_wrapper">
					<i class="icon-th-large"></i>
				</div>
				<h2>Cross Platform</h2>
				<p>
					QikPush supports the iOS, Android and Windows Phone 8  mobile OSs.
				</p>
			</div>
			<div class="span4 bouncy">
				<div class="icon_wrapper">
					<i class="icon-flag"></i>
				</div>
				<h2>Analytics</h2>
				<p>
					Analytics provides metrics for you to fine tune your app's push notifications strategy
				</p>
			</div>
			<div class="span4 bouncy">
				<div class="icon_wrapper">
					<i class="icon-plane"></i>
				</div>
				<h2>Web Console</h2>
				<p>
					Manage all your apps, push notification schedules and targeting from our fully featured management console 
				</p>
			</div>
		</div>
		<hr class="dashed">
		<div class="row">
			<div class="span4">
				<a class="thumbnail" href=""> <img alt="image" src="http://quickimage.it/400x200"> </a>
				<h2>Image 1</h2>
				<p>
					Optional subtext to help better explain the image above can go here.
				</p>
			</div>
			<div class="span4">
				<a class="thumbnail" href=""> <img alt="image" src="http://quickimage.it/400x200"> </a>
				<h2>Image 2</h2>
				<p>
					Optional subtext to help better explain the image above can go here.
				</p>
			</div>
			<div class="span4">
				<a class="thumbnail" href=""> <img alt="image" src="http://quickimage.it/400x200"> </a>
				<h2>Image 3</h2>
				<p>
					Optional subtext to help better explain the image above can go here.
				</p>
			</div>
		</div>
	</div>
</div>