<div id="header">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Plans and Pricing</h1>
			</div>
		</div>
	</div>
</div>

<div id="content">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="product-plan">
					<ul class="unstyled plans">
						<li>
							<div class="name">
								<h3>Small</h3>
							</div>
						</li>
						<li>
							<div class="price">
								<h3>$0 <small>/ for life!</small></h3>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-hdd"></i> Storage <span class="pull-right">250 MB</span></h4>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-dashboard"></i> Bandwidth <span class="pull-right">5 GB</span></h4>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-user-md"></i> Support <span class="pull-right">24/7/365</span></h4>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-upload"></i> Uptime <span class="pull-right">99%</span></h4>
							</div>
						</li>
						<li>
							<div class="action">
								<button class="btn btn-primary btn-action">
									Order Now
								</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="span4">
				<div class="product-plan popular">
					<ul class="unstyled plans">
						<li>
							<div class="name">
								<h3>Medium</h3>
							</div>
						</li>
						<li>
							<div class="price">
								<h3>$10 <small>/ month</small></h3>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-hdd"></i> Storage <span class="pull-right">5 GB</span></h4>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-dashboard"></i> Bandwidth <span class="pull-right">100 GB</span></h4>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-user-md"></i> Support <span class="pull-right">24/7/365</span></h4>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-upload"></i> Uptime <span class="pull-right">99%</span></h4>
							</div>
						</li>
						<li>
							<div class="action">
								<button class="btn btn-primary btn-action">
									Order Now
								</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="span4">
				<div class="product-plan">
					<ul class="unstyled plans">
						<li>
							<div class="name">
								<h3>Large</h3>
							</div>
						</li>
						<li>
							<div class="price">
								<h3>$50 <small>/ month</small></h3>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-hdd"></i> Storage <span class="pull-right">25 GB</span></h4>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-dashboard"></i> Bandwidth <span class="pull-right">500 GB</span></h4>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-user-md"></i> Support <span class="pull-right">24/7/365</span></h4>
							</div>
						</li>
						<li>
							<div class="feature">
								<h4><i class="icon-upload"></i> Uptime <span class="pull-right">99%</span></h4>
							</div>
						</li>
						<li>
							<div class="action">
								<button class="btn btn-primary btn-action">
									Order Now
								</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>