<div id="content" class="txt-middle">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="modal modal-flat">
					<div class="modal-header">
						<h3>Become a Bounce Member</h3>
					</div>
					<div class="modal-body">
						<button class="btn btn-info">
							<i class="icon-twitter"></i> Join using Twitter
						</button>
						<button class="btn btn-danger">
							<i class="icon-google-plus"></i> Join using Google
						</button>
						<hr class="dashed">
						<p class="text-info">
							create an account for free below
						</p>
						<fieldset>
							<div class="control-group">
								<div class="controls">
									<input type="text" placeholder="Your First Name" class="span5">
								</div>
								<div class="controls">
									<input type="text" placeholder="Your Last Name" class="span5">
								</div>
								<div class="controls">
									<input type="text" placeholder="Your Email" class="span5">
								</div>
								<div class="controls">
									<input type="password" placeholder="Password" class="span5">
								</div>
                <div class="controls">
  								<input type="password" placeholder="Confirm Password" class="span5">
								</div>
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<a href="login.html" class="btn btn-warning pull-left">Already a Member?</a>
						<a href="index.html" class="btn btn-primary">Register!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>